@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00A9FF;
}

.container {
    display: flex;
}

.sidebar {
    z-index: 1;
    /* position: absolute; */
    position: fixed;
    background-color: #A0E9FF;
    /* width: 432px; */
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 21px;
}

.sidebar nav li {
    list-style: none;
    font-size: 27px;
    padding: 27px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    background-color: #00A9FF;
    width: 90vw;
}

.infocontainer {
    /* background-color: red; */
    height: 52vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    font-family: "Source Code Pro", monospace;
    font-size: 3em;
}

.name {
    font-size: 3.2em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;

}

#element {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.6em;
}

.buttons {
    margin-top: 34px;
    font-size: 8.7px;
}

.buttons button {
    padding: 8px 15px;
    border-radius: 22px;
    border: 0;
    cursor: pointer;
    background-color: #A0E9FF;
    font-weight: bold;
    font-size: 2em;
    margin: 0 3px;
}

.buttons button:hover {
    color: #ffffff;
    background-color: black;
}

.devpic img {
    height: 52vh;
}

.sidebargo {
    transform: translate(-438px, 0px);
    position: absolute;
}

.hamburger {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

.ham {
    position: fixed;
    margin-top: 1px;
    margin-left: 2px;
}

.cross {
    position: fixed;
    margin-top: 1px;
    margin-left: 134px;
}


@media (max-width:1090px) {
    /* .sidebar{
        transform: translate(-438px, 0px);
        position: absolute;
    } */

    .devpic {
        display: none;
    }

    .main {
        width: 100vw;
        height: 100vh;
    }

    .contactform {
        margin: 8px;
    }

    .buttons {
        font-size: 8.4px;
    }

}

@media (max-width:633px) {
    .devinfo {
        font-size: 15px;
    }

    .buttons {
        font-size: 7.7px;
    }
}

@media (max-width:462px) {
    .devinfo {
        font-size: 12.97px;
    }

    .buttons {
        font-size: 7.2px;
    }
}

@media (max-width:398px) {
    .devinfo {
        font-size: 10px;
    }

    .buttons {
        font-size: 6.3px;
    }

    .buttons button {
        padding: 8px 14px;
    }
}

@media (max-width:293px) {
    .buttons button {
        margin: 1.9px 6px;
    }
}

@media (max-width:230px) {
    .devinfo {
        font-size: 8px;
    }

    .buttons {
        font-size: 4.7px;
        margin: 9px 0px 20px -4px;
    }
}